body {
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8db8e2; 
    padding: 0 30px;
    height: 60px;
    color: white
}
.nav-bar {
    display: flex;
    gap: 25px;
}
.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 5px;
}

.nav-item a:hover {
  background-color: #193e63;
  color: white;
}