@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.container {
    text-align: center;
    padding: 30px;
    font-family: Amatic SC, sans-serif;
    background-color: #F5F5F5;
}

.dome {
    background-image: url("../../assets/NotreDame.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}