.container {
    text-align: center;
    padding: 30px;
    font-family: Arial, sans-serif;
}

.dome {
    background-image: url("../../assets/NotreDame.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}